/* src/styles/base.css */
:root {
    font-size: 62.5%;
    --yellow: rgb(255, 225, 101);
    --yellow-transparent: rgba(255, 225, 101, .3);
    --pink: #d03ce7;
    --white: rgb(244, 244, 245);
    --subtext: rgb(157, 157, 158);
    --black: #080B12;
    --secondary-color: #363e6442;
    --secondary-link: #6a7285;
    --secondary-color-solid: #1a1e31;
    --border-color: #282C42;
    --hover: #1C212A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.app {
    overflow: hidden;
    color: var(--white);
    background: var(--black);
}

.auth-background {
    background-color: var(--black);
}

.account-status {
    margin: 1.3rem auto 0;
}

.account-status a {
    color: rgb(41, 173, 250);
    text-decoration: none;
}

.main-container {
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-container--features {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    color: var(--white);
    margin: 0 auto;
    background: var(--black);
}

.main-container--features::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;  /* Adjust width as needed */
    height: 100%;
    background: linear-gradient(to bottom, #080b12, rgba(0, 0, 0, 0));
    z-index: 5;
    pointer-events: none;
}

.main-container--features::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;  /* Adjust width as needed */
    height: 100%;
    background: linear-gradient(to top, #080b12, rgba(0, 0, 0, 0));
    z-index: 5;
    pointer-events: none;
}

.main-container--cta {
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

span.gradient-text {
    background: linear-gradient(122deg, #FA5560 0.01%, #B14BF4 49.90%, #4D91FF 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo a {
    text-decoration: none;
    font-size: 3rem;
    text-transform: uppercase;
}

.gradient-btn {
    color: white; /* Adjust if needed */
    background: linear-gradient(122deg, #FA5560 0.01%, #B14BF4 49.90%, #4D91FF 100%);
    border-radius: 1rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    padding: 1rem 2rem;
    position: inline-block;
}

.gradient-btn:hover {
    box-shadow: 0px 0px 1rem 0px rgba(162, 128, 255, 0.781);
}

.btn-primary {
    position: relative;
    display: inline-block;
    color: #fff;
    background-color: var(--black);
    text-decoration: none;
    border-radius: 1rem;
    transition: all 0.2s ease-in-out;
    z-index: 1;
    overflow: hidden;
    border: 1px solid transparent; /* Needed to maintain the structure */
    font-size: 2rem;
    outline: none;
    cursor: pointer;
    padding: 1rem 2rem;
}

.btn-primary::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(122deg, #FA5560 0.01%, #B14BF4 49.90%, #4D91FF 100%);
    z-index: -1;
    border-radius: inherit;
}

.btn-primary::after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    background: var(--black); /* Adjust this to the button background color */
    z-index: -1;
    border-radius: inherit;
}

.btn-primary:hover::before {
    filter: brightness(1.2); /* Slightly brighten the gradient on hover */
}

.btn-primary:hover {
    background: #202a5a;
    box-shadow: 0px 0px 1rem 0px rgba(162, 128, 255, 0.822);
}

.btn-primary.highlighted {
    box-shadow: 0 0 10px #B14BF4;
    margin-right: 1rem;
    transition: transform 0.3s ease-in-out;
    background: linear-gradient(122deg, #FA5560 0.01%, #B14BF4 49.90%, #4D91FF 100%);
    filter: brightness(1.2);
}

.btn-primary.highlighted::after {
    background: linear-gradient(122deg, #FA5560 0.01%, #B14BF4 49.90%, #4D91FF 100%);
}

.btn-primary--pulse {
    animation: btnPrimaryPulse 2s infinite !important;
}

.btn-primary--pulse:hover {
    filter: brightness(1.1);
}

@keyframes btnPrimaryPulse {
    0% {
        box-shadow: 0 0 10px #B14BF4;
    }
    50% {
        box-shadow: 0 0 20px #B14BF4;
    }
    100% {
        box-shadow: 0 0 10px #B14BF4;
    }
}

span.pink-text {
    color: var(--pink);
    font-weight: 900;
}

.pack-opening-content .card-stack .normal-card-outer {
    border-radius: 1.2vw;
  }
  
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='base1'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='base2'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='basep'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='base3'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='base4'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='base5'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='gym1'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='gym2'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='neo1'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='neo2'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='neo3'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='neo4'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='si1'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='base6'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='bp'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='ru1'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='mcd11'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='ecard1'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='ecard2'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='ecard3'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='ex1'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='ex2'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='ex3'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='ex4'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='ex5'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='tk1a'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='tk1b'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='ex6'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='ex7'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='ex8'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='ex9'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='ex10'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='ex11'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='ex12'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='tk2a'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='tk2b'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='ex13'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='ex14'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='ex15'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='ex16'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='np'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='pop1'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='pop1'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='pop2'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='pop3'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='pop4'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='pop5'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='pop6'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='pop7'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='pop8'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='pop9'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='dp1'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='dp2'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='dp3'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='dp4'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='dp5'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='dp6'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='dp7'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='dpp'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='pl1'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='pl2'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='pl3'] .normal-card-outer,
  .pack-opening-content .card-stack .normal-card-wrapper[data-selected-set-id='pl4'] .normal-card-outer {
    border-radius: 0 !important;
  }

  .binder-overlay-card-content .normal-card-wrapper[data-set='base1'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='base2'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='basep'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='base3'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='base4'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='base5'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='gym1'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='gym2'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='neo1'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='neo2'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='neo3'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='neo4'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='si1'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='base6'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='bp'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='ru1'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='mcd11'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='ecard1'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='ecard2'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='ecard3'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='ex1'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='ex2'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='ex3'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='ex4'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='ex5'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='tk1a'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='tk1b'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='ex6'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='ex7'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='ex8'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='ex9'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='ex10'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='ex11'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='ex12'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='tk2a'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='tk2b'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='ex13'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='ex14'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='ex15'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='ex16'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='np'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='pop1'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='pop1'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='pop2'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='pop3'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='pop4'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='pop5'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='pop6'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='pop7'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='pop8'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='pop9'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='dp1'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='dp2'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='dp3'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='dp4'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='dp5'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='dp6'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='dp7'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='dpp'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='pl1'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='pl2'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='pl3'] .normal-card-outer,
.binder-overlay-card-content .normal-card-wrapper[data-set='pl4'] .normal-card-outer {
  border-radius: 0px !important;
}

.binder-overlay-card-content .normal-card-outer {
  border-radius: clamp(17px, 1.2vw, 22px) !important;
}

.binder-grid .normal-card-wrapper[data-set='base1'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='base2'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='basep'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='base3'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='base4'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='base5'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='gym1'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='gym2'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='neo1'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='neo2'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='neo3'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='neo4'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='si1'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='base6'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='bp'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ru1'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='mcd11'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ecard1'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ecard2'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ecard3'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ex1'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ex2'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ex3'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ex4'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ex5'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='tk1a'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='tk1b'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ex6'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ex7'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ex8'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ex9'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ex10'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ex11'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ex12'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='tk2a'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='tk2b'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ex13'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ex14'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ex15'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ex16'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='np'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='pop1'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='pop1'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='pop2'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='pop3'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='pop4'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='pop5'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='pop6'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='pop7'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='pop8'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='pop9'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='dp1'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='dp2'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='dp3'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='dp4'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='dp5'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='dp6'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='dp7'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='dpp'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='pl1'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='pl2'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='pl3'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='pl4'] .normal-card-outer {
  border-radius: 0 !important;
  cursor: pointer;
}

.binder-grid .normal-card-outer {
  border-radius: clamp(17px, 1vw, 22px) !important;
  cursor: pointer;
}

.expanded-card-content .normal-card-wrapper[data-set='base1'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='base2'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='basep'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='base3'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='base4'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='base5'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='gym1'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='gym2'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='neo1'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='neo2'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='neo3'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='neo4'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='si1'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='base6'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='bp'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='ru1'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='mcd11'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='ecard1'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='ecard2'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='ecard3'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='ex1'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='ex2'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='ex3'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='ex4'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='ex5'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='tk1a'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='tk1b'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='ex6'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='ex7'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='ex8'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='ex9'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='ex10'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='ex11'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='ex12'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='tk2a'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='tk2b'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='ex13'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='ex14'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='ex15'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='ex16'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='np'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='pop1'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='pop1'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='pop2'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='pop3'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='pop4'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='pop5'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='pop6'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='pop7'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='pop8'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='pop9'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='dp1'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='dp2'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='dp3'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='dp4'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='dp5'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='dp6'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='dp7'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='dpp'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='pl1'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='pl2'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='pl3'] .normal-card-outer,
.expanded-card-content .normal-card-wrapper[data-set='pl4'] .normal-card-outer {
  border-radius: 0 !important;
  cursor: pointer;
}

.expanded-card-content .normal-card-outer {
    border-radius: clamp(17px, 1vw, 22px) !important;
  }

  .overlay .overlay-content .normal-card-wrapper[data-set='base1'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='base2'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='basep'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='base3'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='base4'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='base5'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='gym1'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='gym2'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='neo1'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='neo2'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='neo3'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='neo4'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='si1'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='base6'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='bp'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='ru1'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='mcd11'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='ecard1'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='ecard2'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='ecard3'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='ex1'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='ex2'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='ex3'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='ex4'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='ex5'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='tk1a'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='tk1b'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='ex6'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='ex7'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='ex8'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='ex9'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='ex10'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='ex11'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='ex12'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='tk2a'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='tk2b'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='ex13'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='ex14'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='ex15'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='ex16'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='np'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='pop1'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='pop1'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='pop2'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='pop3'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='pop4'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='pop5'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='pop6'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='pop7'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='pop8'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='pop9'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='dp1'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='dp2'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='dp3'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='dp4'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='dp5'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='dp6'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='dp7'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='dpp'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='pl1'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='pl2'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='pl3'] .normal-card-outer,
  .overlay .overlay-content .normal-card-wrapper[data-set='pl4'] .normal-card-outer {
    border-radius: 0px !important;
  }
  
  .overlay .overlay-content .normal-card-outer {
    border-radius: clamp(17px, 1.2vw, 22px) !important;
  }

  .na {
    color: var(--secondary-link);
    filter: brightness(1.4);
  }

  



  



