/* src/styles/base.css */
:root {
    font-size: 62.5%;
    --yellow: rgb(255, 225, 101);
    --yellow-transparent: rgba(255, 225, 101, .3);
    --pink: rgb(84, 255, 141);
    --white: rgb(244, 244, 245);
    --subtext: rgb(157, 157, 158);
    --black: rgba(0, 0, 0, 0.92)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.app {
    overflow: hidden;
    color: var(--white);
}

.auth-background {
    background-color: var(--black);
}

.account-status {
    margin: 1.3rem auto 0;
}

.account-status a {
    color: rgb(41, 173, 250);
    text-decoration: none;
}

.main-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-container--cta {
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (orientation: landscape) {
    .main-container {
        height: auto;
    }
    
}

@media screen and (orientation: portrait) {
    .main-container {
        height: auto;
    } 
}

/* iPad in portrait and landscape modes */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .main-container {
      height: auto;
    }
  }
  
  /* iPad Pro 12.9-inch in portrait and landscape modes */
  @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
    .main-container {
      height: auto;
    }
  }
