
.call-to-action {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    text-align: center;
    padding: 10rem 2rem 10rem 2rem;
    background-color: rgba(0, 0, 0, 0.801);
  }
  
  .call-to-action h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: var(--yellow);
  }
  
  .call-to-action a {
    padding: 1rem 3rem;
    font-size: 2rem;
    color: var(--black);
    background-color: var(--yellow);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    text-decoration: none;
  }
  
  .call-to-action a:hover {
    background-color: var(--yellow);
    transform: scale(1.05);
  }

  @media screen and (max-width: 1200px){
    .main-container--cta {
        height: auto;
    }
  }
  