/* src/styles/DemoBinder.css */
.demo-binder {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.demo-binder-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.demo-binder-content h2 {
  text-align: center;
  font-size: 5rem;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-button {
  background-color: var(--black);
  color: var(--white);
  border: none;
  padding: 1rem 2rem;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.carousel-button:hover {
  background-color: var(--yellow);
  color: var(--black);
  transform: scale(1.05);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  width: 80%;
  max-width: 1200px;
  margin: 0 2rem;
  transition: transform 0.5s ease;
  position: relative;
}

.card-grid.slide-left {
  transform: translateX(-100%);
}

.card-grid.slide-right {
  transform: translateX(100%);
}

.card-item {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px; /* Set a maximum width for card items */
}

.card-item img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.back-button {
  margin-top: 2rem;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  color: var(--white);
  background-color: var(--black);
  border: 2px solid var(--yellow);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.back-button:hover {
  background-color: var(--yellow);
  color: var(--black);
  transform: scale(1.05);
}

@media screen and (max-width: 1200px) {
  .card-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .demo-binder-content {
    gap: 5rem;
  }

  .demo-binder-content h2 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .demo-binder .back-button {
    width: inherit;
  }
}

@media screen and (max-width: 480px) {
  .card-grid {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .demo-binder-content h2 {
    font-size: 2.8rem;
  }
}

@media screen and (max-width: 360px) {
  .card-grid {
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  }

  .demo-binder-content h2 {
    font-size: 3rem;
  }
}

@media screen and (orientation: landscape) {
  .demo-binder {
    margin-block: 25rem;
  }
}


@media screen and (orientation: portrait) {
  .card-grid {
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .demo-binder {
    margin-block: 0rem;
    height: auto;
  }
}

/* iPad Pro 12.9-inch in portrait and landscape modes */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
  .demo-binder {
    margin-block: 0rem;
  
  }
}