footer {
    padding-block: 2rem;
    text-align: center;
    color: var(--white);
    width: 100%;
}

.footer-primary footer {
    position: fixed;
    bottom: 0;
    color: rgba(58, 183, 255, 0.2);
}

.footer-secondary footer {
    background-color: var(--black);
    position: relative;
    bottom: 0;
    z-index: 1000;
}