/* src/styles/google.css */
.google-sign-in, .facebook-sign-in {
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid var(--white);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    margin-top: 1rem;
    width: 100%;
    position: relative;
  }
  
  .google-sign-in:hover, .facebook-sign-in:hover {
    color: var(--black);
    background-color: var(--white);
    border: 2px solid transparent;
  }
  
  .icon-left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .google-icon {
    width: 3.5rem;
    margin-left: .5rem;
  }

  .facebook-icon {
    width: 2.5rem;
    margin-left: 1rem;
  }
  
  .auth-buttons {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: .5rem;
}