/* src/styles/Grid.css */

#grid {
  width: 100%;
  margin-bottom: 3rem;
  position: relative; /* Position relative for the skeleton overlay */
}

.sets-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  max-width: 75%;
  margin: 2rem auto;
}

.sets-grid--profile {
  max-width: 95%; /* Adjust width for authenticated users */
}

.cards-grid {
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 3rem auto;
}

.cards-grid--profile {
  max-width: 100%;
}

#grid .grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  background: var(--secondary-color);
  border-radius: 0.5rem;
  text-align: center;
  text-decoration: none;
  color: var(--white);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

#grid .grid-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#grid .logo {
  width: 200px;
  height: auto;
}

#grid .symbol {
  width: 40px;
  height: auto;
}

#grid .grid-item .set-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1.5rem;
}

.card-wrapper {
  position: relative;
  display: inline-block;
  max-width: 250px;
  max-height: 100%;
  background: var(--black);
  border-radius: 10px;
  overflow: hidden;
}

.card-wrapper.loaded .skeleton-loader {
  display: none; /* Hide skeleton loader when image is loaded */
}

/* .card-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 10px;
  bottom: 10px;
  background: url(../assets/sparkles.webp) no-repeat center center, url(../assets/holo.webp) no-repeat center center;
  mix-blend-mode: color-dodge;
  opacity: 0;
  pointer-events: none; 
  border-radius: 15px;
  overflow: hidden;
} */

/* .card-wrapper[data-rarity]:not([data-rarity="unknown"]):not([data-rarity="rare"]):not([data-rarity="common"]):not([data-rarity="uncommon"])::after {
  opacity: 1; 
} */

.card-image {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: inherit;
  background: var(--black);
  transition: opacity 0.3s ease;
  opacity: 0;
}

.card-image.visible {
  opacity: 1; /* Fade in the image when it's loaded */
}

.card-image.hidden {
  display: none; /* Hide image until it's fully loaded */
}

.skeleton-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #333; /* Match this with your desired loading background */
  border-radius: inherit;
  animation: shimmer 1.5s infinite;
}

/* Shimmer animation */
@keyframes shimmer {
  0% {
    background-position: -150%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 150%;
  }
}

.loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.loading {
  width: 10rem;
  display: block;
}

.series-title-main {
  width: 75%;
  margin: 2rem auto 1rem;
  color: var(--pink);
  font-size: 3rem;
}

.series-title-main--profile {
  width: 95%;
}

.wishlist-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-wrapper:hover .wishlist-button {
  opacity: 1;
}

