/* Existing styles */

.header-wrap {
  width: 100vw;
  height: auto;
  z-index: 1000;
  position: relative;
  transition: all 0.3s ease-in-out; /* Added top transition */
}

.header-wrap--secondary {
  background-color: var(--black);
  border-bottom: 1px solid var(--yellow-transparent);
}

header {
  display: flex;
  font-size: 2rem;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 85%;
}

header img {
  height: 10rem;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}

nav ul a {
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

nav ul li:nth-child(1) a {
  color: var(--yellow);
  background-color: rgb(255, 225, 101, 0);
  border: 2px solid var(--yellow);
  transition: all 0.1s ease-in-out;
}

nav ul li:nth-child(1) a:hover {
  color: var(--black);
  background-color: var(--yellow);
  border: 2px solid transparent;
}

nav ul li:nth-child(2) a {
  color: var(--pink);
  background-color: rgb(244, 244, 245, 0);
  border: 1px solid var(--pink);
  transition: all 0.1s ease-in-out;
}

nav ul li:nth-child(2) a:hover {
  color: var(--black);
  background-color: var(--pink);
  border: 1px solid transparent;
}

nav ul li:nth-child(3) a {
  color: var(--white);
  background-color: rgb(244, 244, 245, 0);
  border: 1px solid var(--white);
  transition: all 0.1s ease-in-out;
}

nav ul li:nth-child(3) a:hover {
  color: var(--black);
  background-color: var(--white);
  border: 1px solid transparent;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.nav-profile-image-wrapper, .nav-default-image-wrapper {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.nav-profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.nav-default-image {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  color: black;
  font-size: 2rem;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.profile-dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 70%;
  right: 0;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 160px;
  border-radius: 0.5rem;
}

.profile-dropdown:hover .dropdown-menu,
.dropdown-menu:hover {
  display: block;
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}