/* src/styles/Home.css */
body {
  font-family: Goldplay, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  width: 100%;
}

.carousel-container {
  display: flex;
  width: 300vw; /* Three slides */
  height: 100vh;
  transition: transform 0.5s ease-in-out;

}

.app {
  overflow: hidden;
}
