/* src/styles/Home.css */
* {
  font-family: Goldplay, sans-serif;
}
body {
  font-size: 1.6rem;
  font-weight: 400;
  width: 100%;
}

.carousel-container {
  display: flex;
  width: 300vw; /* Three slides */
  transition: transform 0.5s ease-in-out;
  background: var(--black);
}

.app {
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  .carousel-container {
    height: 100vh;
  }
}


@media screen and (max-width: 1200px) {
  .carousel-container {
    margin-block: 10rem 0;
  }
}


