:root {
    --mx: 50%;
    --my: 50%;
    --rx: 0deg;
    --ry: 0deg;
}

.normal-card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.normal-card-outer {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.1s;
    transform-style: preserve-3d;
    --rx: 0deg;
    --ry: 0deg;
    --mx: 50%;
    --my: 50%;
    transform: rotateY(var(--ry)) rotateX(var(--rx));
    will-change: transform;
    overflow: hidden;
    border-radius: 15px;
}

.normal-card-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.normal-card-front,
.normal-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
}

.normal-card-back {
    transform: rotateY(180deg);
    position: relative;
    overflow: hidden;
}

.normal-card-outer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateZ(0);
}

.rotated .normal-card-inner {
    transform: rotateY(180deg);
}

.shine {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: radial-gradient(farthest-corner circle at var(--mx) var(--my), hsla(0, 0%, 100%, .8) 10%, hsla(0, 0%, 100%, 0.7) 20%, hsla(0, 0%, 0%, 0.5) 90%);
    opacity: var(--card-opacity, 0);
    mix-blend-mode: overlay;
    will-change: transform, opacity, background-image, background-size, background-position, background-blend-mode, filter;
    transform: translateZ(1.21px);
    overflow: hidden;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.normal-card-back:hover .shine {
    opacity: 1;
}

.grain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/grain.webp');
    mix-blend-mode: color-dodge;
    pointer-events: none;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.rotated .grain {
    opacity: .9;
}
