:root {
  --mx: 50%;
  --my: 50%;
  --rx: 0deg;
  --ry: 0deg;
}

.normal-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.normal-card-outer {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.3s, box-shadow 0.5s ease;;
  transform-style: preserve-3d;
  --rx: 0deg;
  --ry: 0deg;
  --mx: 50%;
  --my: 50%;
  transform: rotateY(var(--ry)) rotateX(var(--rx));
  will-change: transform, box-shadow;
  overflow: hidden;
  -webkit-backface-visibility: hidden; /* Ensuring the backface is hidden */
  backface-visibility: hidden; /* Ensuring the backface is hidden */
  z-index: 1;
}

.normal-card-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  backface-visibility: hidden; /* Ensuring the backface is hidden */
}

.normal-card-front,
.normal-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Ensuring the backface is hidden */
  transform-style: preserve-3d;
  transform: translate3d(0px, 0px, 0.01px); /* Enhances 3D effect and maintains sharpness */
}

.normal-card-back {
  transform: rotateY(180deg);
  position: relative;
  overflow: hidden;
}

.hero-card .normal-card-back::after, 
.normal-card-wrapper[data-rarity='special illustration rare'] .normal-card-back::after,
.normal-card-wrapper[data-rarity='ace spec rare'] .normal-card-back::after,
.normal-card-wrapper[data-rarity='amazing rare'] .normal-card-back::after,
.normal-card-wrapper[data-rarity='hyper rare'] .normal-card-back::after,
.normal-card-wrapper[data-rarity='double rare'] .normal-card-back::after,
.normal-card-wrapper[data-rarity='radiant rare'] .normal-card-back::after,
.normal-card-wrapper[data-rarity='illustration rare'] .normal-card-back::after,
.normal-card-wrapper[data-rarity='rare ace'] .normal-card-back::after,
.normal-card-wrapper[data-rarity='rare holo'] .normal-card-back::after,
.normal-card-wrapper[data-rarity='rare break'] .normal-card-back::after, 
.normal-card-wrapper[data-rarity='rare holo ex'] .normal-card-back::after,
.normal-card-wrapper[data-rarity='rare holo gx'] .normal-card-back::after, 
.normal-card-wrapper[data-rarity='rare holo lv.x'] .normal-card-back::after, 
.normal-card-wrapper[data-rarity='rare holo star'] .normal-card-back::after, 
.normal-card-wrapper[data-rarity='rare v'] .normal-card-back::after, 
.normal-card-wrapper[data-rarity='rare holo vmax'] .normal-card-back::after, 
.normal-card-wrapper[data-rarity='rare rare holo vstar'] .normal-card-back::after,
.normal-card-wrapper[data-rarity='rare prime'] .normal-card-back::after,
.normal-card-wrapper[data-rarity='rare prism star'] .normal-card-back::after,
.normal-card-wrapper[data-rarity='rare rainbow'] .normal-card-back::after,
.normal-card-wrapper[data-rarity='rare secret'] .normal-card-back::after,
.normal-card-wrapper[data-rarity='rare shining'] .normal-card-back::after,
.normal-card-wrapper[data-rarity='rare holo shiny'] .normal-card-back::after,
.normal-card-wrapper[data-rarity='rare shiny gx'] .normal-card-back::after,
.normal-card-wrapper[data-rarity='rare ultra'] .normal-card-back::after,
.normal-card-wrapper[data-rarity='shiny rare'] .normal-card-back::after,
.normal-card-wrapper[data-rarity='shiny ultra rare'] .normal-card-back::after,
.normal-card-wrapper[data-rarity='special illustration rare'] .normal-card-back::after,
.normal-card-wrapper[data-rarity='trainer gallery rare holo'] .normal-card-back::after,
.normal-card-wrapper[data-rarity='ultra rare'] .normal-card-back::after { 
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../assets/sparkles.webp');
  mix-blend-mode: color-dodge;
  opacity: 1;
  z-index: 1;
  display: block;
}

.normal-card-wrapper[data-rarity='rare holo'] .normal-card-back::after {
  clip-path: inset(14.34% 7.67% 48.27% 8.00%);
}

.ace-spec-rare .normal-card-outer {
  box-shadow: 0 0 3px -1px #F700C1, 0 0 5px 1px #F700C1, 0 0 22px 2px #F700C1, 0px 10px 20px -5px black, 0 0 40px -30px #F700C1, 0 0 50px -20px #F700C1;
}

.hyper-rare .normal-card-outer,
.rare-secret .normal-card-outer {
  box-shadow: 0 0 3px -1px #FFD913, 0 0 5px 1px #FFD913, 0 0 22px 2px #FFD913, 0px 10px 20px -5px black, 0 0 40px -30px #FFD913, 0 0 50px -20px #FFD913;
}

.double-rare .normal-card-outer,
.special-illustration-rare .normal-card-outer,
.illustration-rare .normal-card-outer,
.ultra-rare .normal-card-outer,
.rare-holo .normal-card-outer,
.rare-ultra .normal-card-outer,
.rare-holo-vmax .normal-card-outer,
.rare-holo-v .normal-card-outer,
.normal-card-wrapper[class~="rare-holo-lv.x"] .normal-card-outer  {
  box-shadow: 0 0 3px -1px white, 0 0 5px 1px white, 0 0 22px 2px white, 0px 10px 20px -5px black, 0 0 40px -30px white, 0 0 50px -20px white;
}

.rare-rainbow .normal-card-outer {
  box-shadow: 0 0 3px -1px rgb(255, 56, 6), 
              0 0 5px 1px rgb(0, 110, 255), 
              0 0 22px 2px rgb(66, 255, 66), 
              0px 10px 20px -5px rgb(255, 51, 0), 
              0 0 40px -30px rgb(58, 255, 58), 
              0 0 50px -20px rgb(255, 80, 80);
}

.box-shadow-transition {
  transition: box-shadow 0.5s ease;
}

.normal-card-outer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.normal-card-outer.tilting img {
  image-rendering: optimizeQuality;
  image-rendering: -webkit-optimize-contrast; /* Optimizes image rendering */
}

.rotated .normal-card-inner {
  transform: rotateY(180deg);
}

.shine {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: radial-gradient(
    farthest-corner circle at var(--mx) var(--my),
    rgba(230, 230, 230, 0.177) 0%,
    rgba(200, 200, 200, 0.1) 25%,
    rgba(0, 0, 0, 0.318) 90%
  );
  background-blend-mode: soft-light, screen, overlay;
  opacity: 1;
  mix-blend-mode: overlay;
  will-change: transform, opacity, background-image, background-size, background-position, background-blend-mode, filter;
  transform: translateZ(1px);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.rotated .shine {
  opacity: 1; /* Ensure it is visible when rotated */
}

.grain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/grain.webp');
  mix-blend-mode: overlay;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.rotated .grain {
  opacity: .2;
}

.glare {
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 120%;
  pointer-events: none;
  background-image: radial-gradient(
    farthest-corner circle at var(--pointer-x) var(--pointer-y),
    hsla(0, 0%, 100%, 0.304) 0%,
    hsla(0, 0%, 100%, 0.295) 5%,
    hsla(0, 0%, 0%, 0.4) 90%
  );
  opacity: 1;
  mix-blend-mode: overlay;
  transform: translateZ(1.41px);
  overflow: hidden;
  z-index: 10;
  filter: blur(10px);
}

.glitter {
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  pointer-events: none;
  background-image: url('../assets/glitter.png');
  background-size: 25%;
  opacity: .2;
  mix-blend-mode: screen;
  will-change: transform, opacity, background-image, background-size, background-position, background-blend-mode, filter;
  transform: translateZ(1px);
  overflow: hidden;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.hero-card .normal-card-outer {
  box-shadow: 0 0 3px -1px white, 0 0 3px 1px white, 0 0 12px 2px white, 0px 10px 20px -5px black, 0 0 40px -30px white, 0 0 50px -20px white;
  filter: contrast(105%) !important;
}

.hero-card .grain {
  opacity: .2 !important;
}




