.binder-overlay-card {
    position: fixed;
    top: 0;
    left: 26.5rem;
    width: calc(100% - 26.5rem);
    height: 100%;
    background: rgba(0,0,0,0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out; 
  }
  
  .binder-overlay-card.show {
    opacity: 1; 
  }
  
  .binder-overlay-card.hide {
    opacity: 0; 
  }
  
  .binder-overlay-card-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column;
  }
  
  .binder-overlay-card-content {
    position: relative;
    transition: transform 0.3s ease-in-out;
    width: 21vw;  
    max-width: 550px;  
    min-width: 400px; 
    margin-top: -4rem;
  }

  .binder-overlay-card-content .normal-card-wrapper {
    margin-top: 3rem;
  }

  .binder-overlay-card h1 {
    text-align: center;
  }

  @media screen and (max-width: 1320px) {
    .binder-overlay-card{
      left: 0;
      width: 100%;
    }
  }
  

  