/* src/styles/PackSelection.css */
.pack-selection {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 7rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.5s ease-in-out;
    z-index: 6;
  }
  
  .pack-selection h2 {
    font-size: 5rem;
    font-weight: 600;
  }
  
  .sets-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  
  .set {
    flex: 1;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;
    padding: 5rem;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    cursor: pointer;
  }
  
  .set img {
    width: 200px;
    height: auto;
  }
  
  .set.highlighted {
    position: relative;
    border: 2px solid transparent;
    border-image: linear-gradient(122deg, #FA5560 0.01%, #B14BF4 49.90%, #4D91FF 100%);
    border-image-slice: 1;
    box-shadow: 0 0 12px 0 rgba(250, 85, 96, 0.6), 0 0 12px 0 rgba(177, 75, 244, 0.6), 0 0 10px 0 rgba(77, 145, 255, 0.6);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .set-text h3 {
    font-size: 2rem;
    margin: 0.5rem 0;
  }
  
  .set-text p {
    font-size: 1rem;
    color: var(--subtext);
  }
  
  .arrow-indicator {
    position: absolute;
    display: block;
    top: -3.9rem;
    left: 50%;
    width: 1.3rem;
    height: 1.3rem;
    border-bottom: 5px solid #B14BF4;
    border-right: 5px solid #B14BF4;
    animation: bounce 2s infinite;
    transform: translateX(-50%) rotate(45deg);
    pointer-events: none;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateX(-50%) translateY(0) rotate(45deg);
    }
    50% {
      transform: translateX(-50%) translateY(-10px) rotate(45deg);
    }
  }

  @media screen and (max-width: 1350px) {
    .set:not(.highlighted) {
      display: none;
    }
    .pack-selection h2 {
      font-size: 4rem;
    }
  }

  @media screen and (max-width: 500px) {
    .pack-selection h2 {
      font-size: 2.8rem;
    }

    .pack-selection {
      gap: 10rem;
    }

    .set.highlighted {
      margin-right: 0;
    }
    .set {
      padding: 2rem;
    }
  }



  /* iPad in portrait and landscape modes */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .pack-selection {
    margin-block: 15rem;
    height: auto;
  }
}

/* iPad Pro 12.9-inch in portrait and landscape modes */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
  .pack-selection {
    margin-block: 0rem;
    height: auto;
  }
}
  