.pack-opening {
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
  }
  
  .pack-opening.show {
    transform: translateX(-100%);
  }
