/* src/styles/SearchBar.css */
.search-wrapper {
  background-color: var(--black);
  width: 100%;
  position: relative;
  height: auto;
}

#search-container {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  gap: 2rem;
  max-width: 75%;
  margin: 0 auto;
}

#search-type-toggle {
  display: flex;
  gap: 1rem;
}

#search-type-toggle label {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
  color: var(--white);
  font-family: Goldplay;
  font-size: 1.6rem;
}

#search-group {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  width: 100%;
}

#search-group label {
  font-family: Goldplay;
  font-size: 1.6rem;
  color: var(--white);
}

#search-bar {
  width: calc(100% - 80px); /* Adjust width to fit buttons */
  padding-right: 160px; /* Make space for the buttons */
  padding: 1rem;
  border-radius: 5px;
  font-family: Goldplay;
  font-size: 1.6rem;
  color: var(--white);
  margin-left: 1rem;
  box-shadow: 0 0 2px var(--white);
  transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
  background: var(--secondary-color);
  outline: none;
}

#search-bar:focus {
  outline: none;
  box-shadow: 0 0 10px var(--pink);
}

#search-bar::placeholder {
  color: #616c81;
}

#sort-options, #series-options, #search-by-dropdown {
  width: 100%;
  max-width: max-content;
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 5px;
  font-family: Goldplay;
  font-size: 1.6rem;
  color: var(--white);
  padding: 1rem 3.5rem 1rem 1rem;
  background-color: var(--secondary-color);
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="white" d="M2 0L0 2h4L2 0zm0 5L0 3h4l-2 2z"/></svg>');
  background-repeat: no-repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

#sort-options:focus, #series-options:focus, #search-by-dropdown:focus {
  background-color: #141827;
  border: none;
  outline: none;
}

#sort-options:focus-within, #series-options:focus-within, #search-by-dropdown:focus-within {
  background-color: #141827;
  border: none;
  outline: none;
}

#sort-options {
  margin-left: -65px;
}

#search-container .back-button {
  width: 100%;
  max-width: max-content;
  padding: 1rem;
  background-color: var(--black);
  border-radius: 5px;
  font-family: Goldplay;
  font-size: 1.6rem;
  color: var(--white);
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5 4"><path fill="white" d="M0 2L2 0v4L0 2z"/></svg>');
  background-repeat: no-repeat;
  background-position: left .7em center;
  background-size: .65em auto;
  padding-left: 2rem;
  cursor: pointer;
  margin-top: 0;
  outline: none;
  border: 1px solid var(--pink);
}

#search-container .toggle-button {
  width: 100%;
  height: auto;
  max-width: max-content;
  padding: 1rem;
  border: 1px solid var(--black);
  border-radius: 5px;
  font-family: Goldplay;
  font-size: 1.6rem;
  color: var(--black);
  background-color: var(--yellow);
  appearance: none;
  cursor: pointer;
}

.search-input-container {
  position: relative;
  display: inline-block;
  width: 100%;
  outline: none;
}

#search-bar {
  outline: none;
  border: 1px solid var(--pink);
}

.search-button {
  position: absolute;
  right: -1%;
  top: 0;
  height: 100%;
  width: 100px; /* Adjust width to fit your design */
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  background-color: var(--pink);
  color: var(--white);
  font-size: 1.4rem;
  font-family: Goldplay;
  font-weight: 400;
  border-left: 1px solid rgba(225, 0, 255, 0.2);
  border-radius: 0 5px 5px 0;
  transition: all 0.2s ease;
}

.search-button:hover {
  filter: brightness(1.2);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw; /* Full width of the viewport */
  background-color: var(--black); /* Match the color of the search bar */
  z-index: 1000;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, max-height 0.3s ease;
}

.dropdown-menu.visible {
  max-height: max-content; /* Adjust this value based on the content height */
  opacity: 1;
  transform: translateY(0);
}

.dropdown-category {
  font-weight: bold;
  color: var(--pink);
  margin-bottom: 0.5rem;
}

.dropdown-item {
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: var(--white);
}

.dropdown-item:hover {
  background-color: #BC4CCE;
  color: var(--black);
}

.no-results {
  font-size: 3.6rem;
  color: var(--white);
  text-align: center;
  margin: 3rem auto;
  height: 100vh;
}

.no-results span {
  border-bottom: 2px solid #BC4CCE ;
}

.no-results span:hover {
  filter:brightness(1.5);
}

@media screen and (max-width: 1200px) {
  #sort-options,
  #series-options {
    display: none;
  }
  #search-bar {
    width: 100%;
    padding-right: 0; /* Make space for the button */
  }
  .search-button {
    right: -1rem;
  }
}

@media screen and (max-width: 685px) {
  #search-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  #search-bar {
    width: 100%;
    padding-right: 80px; /* Adjust padding to fit the button */
    margin-left: 0;
  }

  #search-group {
    flex-direction:column;
  }

  #search-by-dropdown {
    max-width: 100%;
  }

  .search-button {
    position: static;
    width: 100%;
    height: 4rem;
    border-radius: 5px;
    margin-top: 1rem;
    display: block;
  }

  .back-button {
    width: 100%;
    border-radius: 5px;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 1201px) {
  #sort-options,
  #series-options {
    display: inline-block;
  }
}

@media screen and (min-width: 2000px) {
  #search-container {
    max-width: 65%;
  }
}