/* src/styles/UserBinder.css */

.binder-page {
  display: flex;
  min-height: 100vh;
  width: 95%;
  background-color: var(--black);
  margin: 0 auto;
}

.binder-container {
  display: flex;
  flex: 1;
  margin-left: 26.5rem; /* Adjust for the profile sidebar */
}

.binder-content {
  flex: 1;
  padding: 2rem;
}

.binder-content h1 {
  font-size: 3rem;
  color: var(--white);
  margin-bottom: 1.5rem;
  padding-left: 1rem;
}

.binder-content p {
  padding-left: 1rem;
}

.binder-content a {
  text-decoration: none;
  color: var(--pink);
}

.binder-content a:hover {
  text-decoration: underline;
  filter: brightness(1.2);
}

.binder-content span {
  font-weight: 900;
}

.binder-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 2rem;
  justify-items: center;
  margin-top: 4rem;
  padding: 1rem;
}

/* Add this section for equal height grid items */
.binder-page .sets-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr)); /* Ensure uniform column sizing */
  grid-auto-rows: 1fr; /* Set all rows to the same height */
  gap: 2rem; /* Adjust the gap between items */
  justify-items: stretch; /* Make sure all items stretch to fill available space */
  margin: 2rem 0;
}

.binder-page .set-card {
  cursor: pointer;
  text-align: center;
  border: 2px solid var(--border-color);
  padding: 2rem;
  display: flex;
  flex-direction: column; /* Allow the content inside to be aligned vertically */
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: background 0.3s ease;
  background-color: var(--secondary-background-color); /* Adjust background color if needed */
  height: 100%; /* Ensure the card takes up the full height of the grid cell */
}

.binder-page .set-card.view-all h2 {
  min-width: 150px;
}

.binder-page .set-card:hover {
  background: var(--secondary-color);
}

.binder-page .set-logo {
  width: 100%;
  height: auto;
  max-width: 150px; /* Keep this to maintain image proportions */
}

.binder-grid .normal-card-wrapper[data-set='base1'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='base2'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='basep'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='base3'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='base4'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='base5'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='gym1'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='gym2'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='neo1'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='neo2'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='neo3'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='neo4'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='si1'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='base6'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='bp'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ru1'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='mcd11'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ecard1'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ecard2'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ecard3'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ex1'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ex2'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ex3'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ex4'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ex5'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='tk1a'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='tk1b'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ex6'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ex7'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ex8'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ex9'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ex10'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ex11'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ex12'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='tk2a'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='tk2b'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ex13'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ex14'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ex15'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='ex16'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='np'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='pop1'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='pop1'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='pop2'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='pop3'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='pop4'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='pop5'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='pop6'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='pop7'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='pop8'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='pop9'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='dp1'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='dp2'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='dp3'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='dp4'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='dp5'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='dp6'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='dp7'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='dpp'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='pl1'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='pl2'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='pl3'] .normal-card-outer,
.binder-grid .normal-card-wrapper[data-set='pl4'] .normal-card-outer {
  border-radius: 0 !important;
  cursor: pointer;
}

.binder-grid .normal-card-outer {
  cursor: pointer;
}

@media screen and (max-width: 1320px) {
  .binder-container {
    margin-left: 0;
    padding: 2rem;
  }
}
